.container{
  position: relative;
  background-color: #d9bdf1;
  width: 100px;
  height: 100px;

}

.binder{
  position: absolute;
  top: 80%;
  left: 0%;
  background-color: greenyellow;
  width:90%;
  height: 10px;
  border-radius: 10px;

}

.page{
  position: absolute;
  top: 70%;
  left: 2%;
  width:40%;
  height: 5px;
  background-color: #9147ff;

}

.page:before{
  content: "";
  position:absolute;
  top: 0px;
  right: -110%;
  width:100%;
  height: 5px;
  transform-origin: left;

  background-color: #9147ff;
  /*border-bottom-left-radius: 20px;*/
  /*transform: ;*/
  /*transform: scale3d(5,5,5);*/
  animation: bookList 2s linear;
  transition: all 2s linear 0s;
  animation-iteration-count: infinite;
  /*border: solid 5px #000;*/
  /*border-color: #000 transparent transparent transparent;*/
  border-radius: 50%/5px 5px 0 0;
}

/*.page:after{*/
/*  content: "";*/
/*  position:absolute;*/
/*  top: 0px;*/
/*  right: -110%;*/
/*  width:100%;*/
/*  height: 5px;*/
/*  rotate:9deg;*/
/*  background-color: #7b00ff;*/
/*}*/

@keyframes bookList {
  0%{

  }
  10%{
    top:-15px;
  }
  50%{

  }
  70%{
    /*transform: translate(0px,15px);*/

  }
  100%{
    rotate: -180deg;


  }
}