.container{
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    /*background: radial-gradient(#e3a302, rgba(201, 24, 8, 0.62));*/
    overflow: hidden;
    justify-content: center;
    text-align: center;
}


.heart{
    position: relative;
    top: 40%;
    left: 30%;
    width: 50%;
    height: 50%;
    background-color: #ff0000;
    transform: rotate(45deg);

}
.heart::before,
.heart::after {
    content : '';
    position: absolute;
    top: -40%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    border-radius: 50%;

}

.heart::before {
    top: 0%;
    left: -45%;
}